<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Emagrecer Social</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="css.css">
</head>

<body class="background">
<div class="navbar-fixed">
  <nav class="blue darken-3 " >
    <div class="nav-wrapper container ">
      <ul>
        <li class="left">
          <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
        </li>
      </ul>
      <a href="index.html" class="brand-logo center">Logo</a>

      <ul id="nav-mobile" class="right">
        <li>
            <div class="nav-wrapper floating"  width="15%">
                <form>
                  <div class="input-field">
                    <input id="search" type="search" required>
                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                  </div>
                </form>
              </div>
        </li>
        <li><a href="#" data-activates="friends-out" class="button-collapse hide-on-large-only"><i class="material-icons right ">recent_actors</i>Amigos</a></li>
        <li><a href="perfil.html" class="button hide-on-med-and-down"><i class="material-icons right">account_circle</i>Perfil</a>
        </li>
      </ul>
    </div>
  </nav>
</div>



  

 
      <ul id="slide-out" class="side-nav fixed fMenu">
          
          <li>
            <div class="user-view" >
              <div class="background">
                <img src="capa.jpg" width="100%" height="100%">
              </div>
              <a href="perfil.html"><img class="circle" src="user.png"></a>
              <a href="perfil.html"><span class="white-text name">ERDS</span></a>
              <a href="perfil.html"><span class="white-text email">edrs@gmail.com</span></a>
            </div>
          </li>
         <div class="opMenu" >
            <li><a href="#newForum" class="btn modal-trigger blue darken-3">+ FORUM</a></li>
            <li><a href="#newGrupo" class="btn modal-trigger blue darken-3">+ GRUPO</a></li>
         </div>
         <h4 class="gp">GRUPOS</h4>
        
        <div class="pa">
         <ul class="collection  avatar"  >
           
              <li class="collection-item ">
                  <img src="user.png"  class="circle ImgGp">
                  <span class="title">Nando</span>
                </li>
                <li class="collection-item ">
                  <img src="user.png"  class="circle ImgGp">
                  <span class="title">Nando</span>
                </li>
                <li class="collection-item ">
                    <img src="user.png"  class="circle ImgGp">
                    <span class="title">Nando</span>
                  </li>
                  <li class="collection-item ">
                      <img src="user.png"  class="circle ImgGp">
                      <span class="title">Nando</span>
                    </li>
                    <li class="collection-item ">
                        <img src="user.png"  class="circle ImgGp">
                        <span class="title">Nando</span>
                      </li>
                      <li class="collection-item ">
                          <img src="user.png"  class="circle ImgGp">
                          <span class="title">Nando</span>
                        </li>
                        <li class="collection-item ">
                            <img src="user.png"  class="circle ImgGp">
                            <span class="title">Nando</span>
                          </li>
              </ul>     
           </div> 
         
            </ul>
      <!--lista amigos mobile-->
      
      <ul id="friends-out" class="side-nav">

         <li> <h4 class="black-text">Amigos</h4></li>
         <ul class="collection  avatar"  >
           
              <li class="collection-item ">
                  <img src="user.png"  class="circle ImgGp">
                  <span class="title">Nando</span>
                </li>
                <li class="collection-item ">
                  <img src="user.png"  class="circle ImgGp">
                  <span class="title">Nando</span>
                </li>
                <li class="collection-item ">
                    <img src="user.png"  class="circle ImgGp">
                    <span class="title">Nando</span>
                  </li>
                  <li class="collection-item ">
                      <img src="user.png"  class="circle ImgGp">
                      <span class="title">Nando</span>
                    </li>
                    <li class="collection-item ">
                        <img src="user.png"  class="circle ImgGp">
                        <span class="title">Nando</span>
                      </li>
                      <li class="collection-item ">
                          <img src="user.png"  class="circle ImgGp">
                          <span class="title">Nando</span>
                        </li>
                        <li class="collection-item ">
                            <img src="user.png"  class="circle ImgGp">
                            <span class="title">Nando</span>
                          </li>
              </ul>     
         
            </ul>
  
  
  <!-- novo forum -->
  <div id="newForum" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Novo Forum</h4>
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <input id="title" type="text" class="validate">
              <label for="title">Titulo</label>
            </div>
            <div class="file-field input-field col s6">
              <div class="btn">
                <span>File</span>
                <input type="file">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate hide-on-med-and-down" type="text">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <textarea id="textarea1" class="materialize-textarea"></textarea>
              <label for="textarea1">Textarea</label>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <a class="waves-effect waves-light btn red"><i class="material-icons right">close</i>CANCELAR</a>
      <a class="waves-effect waves-light btn green"><i class="material-icons right">check</i>ENVIAR</a>
    </div>
  </div>
  <div id="newForum" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Novo Forum</h4>
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <input id="title" type="text" class="validate">
              <label for="title">Titulo</label>
            </div>
            <div class="file-field input-field col s6">
              <div class="btn">
                <span>File</span>
                <input type="file">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate hide-on-med-and-down" type="text">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <textarea id="textarea1" class="materialize-textarea"></textarea>
              <label for="textarea1">Textarea</label>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <a class="waves-effect waves-light btn red"><i class="material-icons right">close</i>CANCELAR</a>
      <a class="waves-effect waves-light btn green"><i class="material-icons right">check</i>ENVIAR</a>
    </div>
  </div>
  <!-- novo grupo -->
  <div id="newGrupo" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Novo Gupo</h4>
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <input id="title" type="text" class="validate">
              <label for="title">Titulo</label>
            </div>
            <div class="file-field input-field col s6">
              <div class="btn">
                <span>File</span>
                <input type="file">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate hide-on-med-and-down" type="text">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <textarea id="textarea1" class="materialize-textarea"></textarea>
              <label for="textarea1">Textarea</label>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <a class="waves-effect waves-light btn red"><i class="material-icons right">close</i>CANCELAR</a>
      <a class="waves-effect waves-light btn green"><i class="material-icons right">check</i>ENVIAR</a>
    </div>
  </div>
  <div id="newForum" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Novo Forum</h4>
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <input id="title" type="text" class="validate">
              <label for="title">Titulo</label>
            </div>
            <div class="file-field input-field col s6">
              <div class="btn">
                <span>File</span>
                <input type="file">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate hide-on-med-and-down" type="text">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <textarea id="textarea1" class="materialize-textarea"></textarea>
              <label for="textarea1">Textarea</label>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <a class="waves-effect waves-light btn red"><i class="material-icons right">close</i>CANCELAR</a>
      <a class="waves-effect waves-light btn green"><i class="material-icons right">check</i>ENVIAR</a>
    </div>
  </div>
  <!-- amigos -->
  <div class="row">
    <div class="col l3">
    </div>
    <div class="col l6 s11">
    </div>
    <div  class="col l3 hide-on-med-and-down amigos  right"  >
    
      <ul class="collection "  >
        <li class="collection-item">
          <h4 class="amg">AMIGOS</h4>
        </li>
        
            <li class="collection-item avatar">
              <img src="user.png" class="circle">
              <span class="name">Nando</span>
              
            </li>
            <li class="collection-item avatar">
              <img src="user.png" class="circle">
              <span class="name">Nando</span>
              
            </li>
          </ul>     
    
  </div>
 
<!-- post -->
  <div class="row">
      <div class="col l3">
        </div>
        <div class="col l6 s11">
    <div class="card small forum">
      <a class="text" href="post.html"> 
      <div class="card-image">
        <img src="card.png">
        <span class="card-title">Card Title</span>
      </div>
      <div class="card-content">
        <p >I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
      </div>
    </a>
    </div>
        </div>
    <div  class="col l3"></div>
  </div>
  <div class="row">
      <div class="col l3">
        </div>
        <div class="col l6 s11">
    <div class="card small forum">
        <a class="text" href="post.html">
      <div class="card-image">
        <img src="card.png">
        <span class="card-title">Card Title</span>
      </div>
      <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
      </div>
      </a>
    </div>
        </div>
    <div  class="col l3"></div>
  </div>
  <div class="row">
      <div class="col l3">
        </div>
        <div class="col l6 s11">
    <div class="card small forum">
        <a class="text" href="post.html">
      <div class="card-image">
        <img src="card.png">
        <span class="card-title">Card Title</span>
      </div>
      <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
      </div>
        </a>
    </div>
        </div>
    <div  class="col l3"></div>
  </div>
  <div class="row">
      <div class="col l3">
        </div>
        <div class="col l6 s11">
    <div class="card small forum">
        <a class="text" href="post.html">
      <div class="card-image">
        <img src="card.png">
        <span class="card-title">Card Title</span>
      </div>
      <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
      </div>
        </a>
    </div>
        </div>
    <div  class="col l3"></div>
  </div>
  <div class="row">
      <div class="col l3">
        </div>
        <div class="col l6 s11">
    <div class="card small forum">
      <div class="card-image">
        <img src="card.png">
        <span class="card-title">Card Title</span>
      </div>
      <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
      </div>
    </div>
        </div>
    <div  class="col l3"></div>
  </div>
  
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"> </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script> $(".button-collapse").sideNav();</script>
  <script> $('.modal').modal();</script>

</body>